
Options -Indexes

RewriteEngine on
RewriteCond %{HTTP_HOST} ^ayndrillacounselling.co.uk$ [NC,OR]
RewriteCond %{HTTP_HOST} ^ayndrillacounselling.co.uk$
RewriteCond %{REQUEST_URI} !public/
RewriteRule (.*) https://ayndrillacounselling.co.uk/public/$1 [L]
AddType x-httpd-php72 .php